.developer-wrapper {
  background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1422226256160-9b266e308ea6%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D1953%26q%3D80');
  // background-image: url('../images/home_background.jpg');
  -ms-background-position-y: bottom;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.header-container {
  // height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
  // border-bottom: 1px solid black;
}

.developer-header {
  font-size: 54px;
  font-weight: var(--theme-font-weight);
  padding: 20px;
  font-family: var(--theme-font);
  color: var(--theme-color);
}

.developer-container {
  display: flex;
  width: 80%;
  height: auto;
  background-color: #121212;
  opacity: 0.95;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 5px;
  border-radius: 10px;
  min-width: 1000px;
}

.developer-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lisa-developer {
  width: 25%;
  height: 100%;
}

.chris-developer {
  width: 25%;
  height: 100%;
}

.kevin-developer {
  width: 25%;
  height: 100%;
}

.stephen-developer {
  width: 25%;
  height: 100%;
}

.lisa-developer > div, .chris-developer > div, .kevin-developer > div, .stephen-developer > div {
  padding: 20px;
}

.lisa-picture, .chris-picture, .kevin-picture, .stephen-picture {
  width: 100%;
  height: auto;
  border-radius: 75px;
  .shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
}

.lisa-info, .chris-info, .kevin-info, .stephen-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lisa-name, .chris-name, .kevin-name, .stephen-name {
  font-size: 24px;
  font-family: var(--theme-font);
  color: var(--theme-color);
}

.github-links {
  width: 150px;
  display: flex;
  // justify-content: space-between;
  cursor: pointer;
  padding-top: 30px;
  color: var(--theme-color);
}

.github-links > div:hover {
  color: whitesmoke;
  padding: 0.5px;
}