.home-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: var(--font-color);
  font-family: var(--theme-font);
  width: 100%;
  min-width: 420px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
}

.home-container-main {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 70%;
  margin: 0 auto 0 auto;
}
.home-container-what {
  background-color: var(--background-color);
  padding: 70px 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.yelp-index-wrapper, .google-index-wrapper {
  width: 30%
}

.yelp-index-container, .google-index-container {
}


.whativity-index-items {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 0 auto;
}
// .yelp-index, .google-index {
//   display: flex;
//   justify-content: space-around;
// }

.yelp-index-item, .google-index-item {
  display: flex;
  width: 350px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 
              0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  background-color: var(--container-color);
  cursor: pointer;
  &:hover {
    // opacity: 0.3;
    background-color: var(--hover-color);
  }
}

.yelp-index-item > div {
  // margin: 50px;
}


.yelp-item-photo, .google-item-photo {
  width: 320px;
  height: 280px;
  object-fit: cover;
  // height: 190px;
  border-radius: 12px;
}
.google-item-photo img:hover + .details-button:hover{
    display: block;
  }
.details-button{
  height: 20px;
  width: 100%;
  background-color: ivory;
  opacity: 0.7;
  display: none;
}

.yelp-item-info, .google-item-info {
  padding: 10px;
  width: 100%;
  height: auto;
  line-height: 2rem;
  // height: 80%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

.yelp-item-info > div, .google-item-info > div {
  padding: 10px;
}

.google-item-name, .yelp-item-name{
  font-size: 24px;
  overflow: hidden;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.what-now-button {
  width: 500px;
  height: 500px;
}

.whativities-tab-container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.whativities-tab-wrapper {
  &.true {
    visibility: visible;
  }
  &.false {
    visibility: hidden;
  }
}

.what-now-button {
    width: 220px;
    height: 50px;
    border: 1px solid darkblue;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: var(--theme-font);
    font-size: 24px;
    font-weight: bold;
}

.what-now-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.what-now-button:active {
    color: #000
}

.what-now-button:active:after {
    background: transparent;
}

.what-now-button:hover:before {
    opacity: 1;
}

.what-now-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.whativities-tab-headers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  :hover{
    background-color: var(--hover-color);
    border-radius:10px;
  }
  padding: 30px 0 30px 0;
}

.whativities-tab-header-link{
  color: var(--font-color);
  background-color: var(--container-color);
  width: 120px;
  height: 40px;
  border-radius:10px;
}
.whativities-tab-header-label{
  color:inherit;
  background-color: inherit;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius:inherit;
  
}

.social-buttons{
  display: flex;
  justify-content: space-around;
  margin: 30px 0 30px 0;
  width: 100%;
}

.index-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--theme-color);
}

.photo-viewport{
  // width:320px;
  // height:280px;
}