.home-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 420px;
  height: 100%;
  background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1422226256160-9b266e308ea6%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D1953%26q%3D80');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--font-color);
  font-family: var(--theme-font);
  background-position: top;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.home-container-main {
  // background-image: url('https://d.newsweek.com/en/full/1502445/san-francisco-salifornia.webp') no-repeat center center fixed;
  // background-color: var(--background-color);
  // background-color: yellow;
  // z-index: -2;
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

.home-container-what {
    padding: 35px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    &.center {
      position: fixed;
      top: 40%;
    }
}

.yelp-index-wrapper, .google-index-wrapper {
  width: 30%
}

.yelp-index-container, .google-index-container {
}

.whativities-tab-headers-wrapper {
  display: flex;
  justify-content: center;
}

.whativity-index-items {
  width: 100%;
  text-align: center;
  // width: 1200px;
  display: flex;
  justify-content: space-around;
  // margin: 0 auto 0 auto;
}

.yelp-index-item, .google-index-item, .what-index-item {
  display: flex;
  // width: 350px;
  // height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: rgb(248, 220, 220);
  background: rgba(0, 0, 0, 0.803);
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  color: white;
  border-radius: 12px;
  // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 
  //             0 1px 4px rgba(0, 0, 0, 0.24);
  // border-radius: 12px;
  // background-color: white;
  // background-color: var(--container-color);
  cursor: pointer;
  // &:hover {
  //   background-color: var(--hover-color);
  // }
}

.photo-viewport {
  width: 320px;
  height: 320px;
  margin: 24px;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yelp-item-photo, .google-item-photo, .what-item-photo {
  width: 100%;
  height: 100%;
}

.google-item-photo img:hover + .details-button:hover{
    display: block;
  }

.item {
  width: 30%;
  display: inline-block;
  // margin-top: 2rem;
  // filter: grayscale(100%);
  opacity: 0.8;
}

.item .yelp-index-item:before, .item .google-index-item:before, .item .what-index-item:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) .yelp-index-item:before, .item:nth-of-type(4n+1) .google-index-item:before, .item:nth-of-type(4n+1) .what-index-item:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+2) .yelp-index-item:before, .item:nth-of-type(4n+2) .google-index-item:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+3) .yelp-index-item:before, .item:nth-of-type(4n+3) .google-index-item:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
  opacity: 1;
  z-index: 1;
}

.item:hover .yelp-index-item:before, .item:hover .google-index-item:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.details-button{
  height: 20px;
  width: 100%;
  background-color: ivory;
  opacity: 0.7;
  display: none;
}

.yelp-item-info, .google-item-info, .what-item-info {
  margin-top: 8px;
  width: 100%;
  height: auto;
  line-height: 2rem;
}

.google-ite m-name, .yelp-item-name, .what-item-name {
  padding: 0 8px;
  font-size: 20px;
  overflow: hidden;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whativities-tab-container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.whativities-tab-headers-container {
    width: 600px;
}

.whativities-tab-wrapper {
  &.true {
    visibility: visible;
  }
  &.false {
    visibility: hidden;
  }
}

.what-now-button {
    width: 250px;
    height: 70px;
    border: 1px solid var(--theme-color);
    outline: none;
    color: var(--theme-color);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: var(--theme-font);
    font-size: 24px;
    font-weight: bold;
}

.what-now-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.what-now-button:active {
    color: #000
}

.what-now-button:active:after {
    background: transparent;
}

.what-now-button:hover:before {
    opacity: 1;
}

.what-now-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.whativities-tab-headers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  :hover{
    color: var(--font-color);
  }
  padding: 120px 0 40px 0;
}

.whativities-tab-header-link{
  background-color: var(--subheading-color);
  width: 175px;
  height: 50px;
  box-sizing: border-box;
  border-radius:10px;
  border: 1px solid var(--container-color);
  overflow: hidden;
  outline: none;
}
.whativities-tab-header-label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.yelp-index-item > .hide,
.google-index-item > .hide,
.what-index-item > .hide {
  visibility: hidden;
}

.yelp-index-item:hover > .hide,
.google-index-item:hover > .hide,
.what-index-item:hover > .hide {
  visibility: visible;
}

.social-buttons{
  display: flex;
  justify-content: space-around;
  margin: 30px 0 30px 0;
  width: 100%;
}

.index-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--theme-color);
    &:hover {
      background-color: var(--hover-color);
    }
    transition: background .5s;
    outline: none;
}

.notify{  
  position:absolute;
  top: 0px;
  width:100%;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:rgba(0,0,0,.6);
  overflow:hidden;
  box-sizing:border-box;
  -webkit-transition: height 2s;
  transition: height 1s;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
  color: white;
  font-family: var(--theme-font);
  font-weight: 400;
  font-size: 16px;
}

.active{  
  height: 50px;
}

.interesting:before{
  Content:"Whativity has been bookmarked!";
}

.attending:before{
  Content:"Whoohoo! Make it a great day!";
}