.home-wrapper {
  display: flex;
  flex-direction: column;
}

.home-container-1 {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
}
.home-container-2 {
  background-color: lightcoral;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.home-container-3 {
  background-color: lightgreen;
  width: 100%;
  height: 600px;
}

.yelp-index-wrapper, .google-index-wrapper {
  width: 30%
}

.yelp-index-container, .google-index-container {
}

.whativities-index {
  display: flex;
  justify-content: space-around;
}
// .yelp-index, .google-index {
//   display: flex;
//   justify-content: space-around;
// }

.yelp-index-item, .google-index-item {
  display: flex;
  width: 30%;
  height: 240px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 
              0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  background-color: teal
}

.yelp-index-item:hover, .google-index-item:hover {
  // background-color: black;
  opacity: 0.3;
}

.yelp-index-item > div {
  // margin: 50px;
}

.yelp-item-photo, .google-item-photo {
  width: 180px;
  height: 190px;
  padding: 15px
}

.yelp-item-info, .google-item-info {
  padding: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yelp-item-info > div, .google-item-info > div {
  padding: 5px;
}

.what-now-button {
  width: 500px;
  height: 500px;
}

.whativities-tab-wrapper {
  &.true {
    visibility: visible;
  }
  &.false {
    visibility: hidden;
  }
}

.what-now-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: var(--theme-font);
    font-size: 24px;
    font-weight: bold;
}

.what-now-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.what-now-button:active {
    color: #000
}

.what-now-button:active:after {
    background: transparent;
}

.what-now-button:hover:before {
    opacity: 1;
}

.what-now-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}