@import './reset.scss';
@import "./modal.scss";
@import "./session_form.scss";
@import './splash_page.scss';
@import './navbar.scss';
@import './profile.scss';
@import './profile_friends.scss';
@import './home.scss';
@import './whativity_show.scss';
@import './developers_page.scss';

html {
  // --theme-color: #FFB302;
  // --theme-color: #4991E4;
  --theme-color: lightyellow;
  --theme-font: proxima-nova, helvetica, arial, sans-serif;
  // --background-color: #b3cde0;
  --background-color: #73bef0;
  --subheading-color: #4A90E1;
  // --container-color: 	#6497b1;
  --container-color: white;
  // --hover-color:	#005b96;
  --hover-color:	#73bef0;
  --font-color: black;
}

#root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#main-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
