@import './reset.scss';
@import "./modal.scss";
@import "./session_form.scss";
@import './splash_page.scss';
@import './navbar.scss';
@import './profile.scss';

html {
  --theme-color: #FFB302;
  --theme-font: proxima-nova, helvetica, arial, sans-serif;
}

#root {
    display: flex;
    align-items: center;
}
#main-content {
    width: 100%;
    height: 100%;
}
