@import './reset.scss';
@import "./modal.scss";
@import "./session_form.scss";
@import './splash_page.scss';
@import './navbar.scss';
@import './profile.scss';
@import './profile_friends.scss';
@import './home.scss';
@import './whativity_show.scss';
@import './developers_page.scss';
@import './what_item_show.scss';

html {
  --theme-color: #daa520;
  // --theme-font: proxima-nova, helvetica, arial, sans-serif;
  --logo-font: scriptorama-tradeshow-jf, arial, sans-serif;
  --theme-font: itc-avant-garde-gothic-pro,sans-serif;
  --theme-font-weight: 500;
  --background-color: white;
  --subheading-color: #e3b43e;
  --container-color: #edcf83;
  --hover-color:	#a77e18;
  --font-color: black;
}

#root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#main-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
