.navbar-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-color);
    z-index: 5;
    font-family: var(--theme-font);
}

.navbar-wrapper h1 {
    color: var(--theme-font);
    font-weight: 700;
    font-size: 20px;
    font-family: var(--theme-font);
    padding-left: 20px;
}


.session-buttons {
    margin-right: 24px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar-button-container {
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    &:hover {
        background-color: var(--background-color);
    }
}

.profile-link {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--theme-font);
    outline: none;
    text-decoration: none;
    color: var(--font-color);
    &:hover {
        color: var(--font-color);
    }
}

.navbar-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    font-family: var(--theme-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
    background-color: inherit;
}