.navbar-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-color);
    z-index: 5;
    font-family: var(--theme-font);
}

.navbar-wrapper h1 {
    color: var(--theme-font);
    font-weight: 700;
    font-size: 20px;
    font-family: var(--theme-font);
    padding-left: 20px;
}

.session-links {
    display: flex;
    align-items: center;
}

.profile-link {
    text-decoration: none;
    color: var(--theme-font);
}

.session-buttons, #logout-button {
    margin: 20px;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.session-buttons button, #logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 55px;
    font-size: 12px;
}
