.navbar-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    // box-shadow: 
    //    inset 0 -3em 3em rgba(0,0,0,0.1), 
    //          0 0  0 2px rgb(255,255,255),
    //          0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.navbar-wrapper h1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.session-buttons {
    margin: 20px;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.session-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 55px;
    font-size: 12px;
}