.friends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 100%;
  overflow-y: scroll;
  box-shadow: 0 1px 6px black(0, 0, 0, 0.12), 
              0 1px 4px black(0, 0, 0, 0.24);
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.friend {
  list-style-type: none;
  width: 20%;
  height: 120px;
  margin: 4px;
}

.friend-photo-container {
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 1px 8px 0 var(--container-color), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  // box-shadow: 0 1px 8px 0 white, 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.friend-photo {
  width: auto;
  height: inherit;
}

.friend-name {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400px;
  text-align: center;
  color: white;
}
