.user-whativities-container{
  // position: absolute;
  h2{
    font-size: 20pt;
  }
  .whativities-list{
    height: 500px;
    width: 300px;
    overflow-y: auto;
  }
}

.whativities-item {
  display :flex;
}
