.profile-wrapper {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    font-family: var(--theme-font);
    color: var(--font-color);
}

.profile-container {
    margin-top: 64px;
    width: 1200px;
    height: 850px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: var(--container-color);
}

.profile-left,
.profile-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}

.profile-left-container,
.profile-right-container {
    min-width: 520px;
    min-height: 850px;
    width: 100%;
    margin: 20px;
}

.profile-section-title {
    font-size: 24px;
    font-weight: 400;
    margin: 8px;
}

.profile-photo-container {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-photo {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 12px;
}

.friends-container {
    border: none;
}

.user-info-container {
    padding: 4px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.user-info.name {
    font-size: 36px;
    margin-bottom: 8px;
}

.user-info.location {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
}

.user-info.follow {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.user-info.followers {
    margin-right: 20px;
    font-size: 16px;
}

.user-info.follow-button {
    width: 72px;
    height: 30px;
    color: var(--font-color);
    font-size: 12px;
    text-align: center;
    border-radius: 12px;
    border: 0;
    background-color: var(--background-color);
    &:hover {
        background-color: var(--hover-color);
    }
}

.interested-whativities-container {
    padding: 4px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.user-whativities-container {
    padding: 4px;
    margin-bottom: 20px;
}