.profile-wrapper {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1422226256160-9b266e308ea6%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D1953%26q%3D80');
    background-size: cover;
    background-repeat: no-repeat;
    // font-family: var(--theme-font);
    // font-family: 'Abel', sans-serif;
    font-family: var(--theme-font);
    // color: var(--subheading-color);
    color: white;
    display: flex;
    justify-content: center;
}

.profile-container {
    margin-top: 64px;
    width: 1200px;
    height: 850px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(18, 18, 18, 0.95);
    // border: 1px solid var(--container-color);
    // opacity: 0.8;
    // background-color: rgba(255, 255, 255, 0.3);

}

.profile-left,
.profile-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}

.profile-left-container,
.profile-right-container {
    min-width: 520px;
    min-height: 850px;
    width: 100%;
    margin: 20px;
}

.profile-right-container {
    margin-top: 61px;
    // padding: 50px;
    // padding-left: 20px;
    
}

.profile-left-container {
    // padding-left: 40px;
    padding-right: 50px;
    // margin-right: 100px;
}

.profile-section-title {
    font-size: 22px;
    font-weight: 400;
    margin: 8px;
}

.profile-photo-container {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 3px 8px 0 var(--container-color), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 0 3px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-photo {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 12px;
}

.friends-container {
    margin-top: 30px;
    border: none;
}

.user-info-container {
    padding: 4px;
}

.user-info.name {
    font-size: 36px;
    margin-bottom: 8px;
}

.user-info.location {
    font-size: 16px;
    color: #b0b0b9;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

.user-info.follow {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #b0b0b9;
}

.user-info.followers {
    margin-right: 20px;
    font-size: 16px;
}

.user-info.follow-button {
    width: 72px;
    height: 30px;
    color: var(--font-color);
    font-size: 12px;
    text-align: center;
    border-radius: 12px;
    border: 0;
    background-color: var(--background-color);
    &:hover {
        background-color: var(--hover-color);
    }
}

.interested-whativities-container {
    padding: 4px;
    // margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.user-whativities-container {
    padding: 4px;
    // margin-bottom: 20px;
}
