.what-show-wrapper {
  display: flex;
}

.what-show-info {
  display: flex;
  flex-direction: column;
}


.what-show-photo {
  width: 400px;
  height: 300px;
}

.google-map {
  height: 100px;
  width: 100px;
}